/*general*/
body {
    font-family: 'Open Sans', sans-serif;
}
/*end general*/
/*header*/
.header {
    background: #0d3a71;
    height: 75px;
    color: #fff;
}
img.logo {
    width: 218px;
}
h2.title {
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    font-size: 26px;
    font-weight: lighter;
    border-left: 1px solid #fff;
    height: 40px;
    line-height: 38px;
    padding-left: 16px;
}
.userName {
    float: left;
    padding-right: 9px;
}

.userData {
    padding-top: 30px;
    float: right;
    padding-right: 18px;
}
/*end header*/
